In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

# Collecting Data
df = pd.read_csv('C:/Users/DELL/Desktop/AI-ML projects & exp/honours exp/aI_ML_exp-1/diabetes_prediction_dataset.csv')
df.shape

(100000, 9)

In [2]:
df.head(5)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [3]:
# Cleaning Data
# Remove duplicates
df.drop_duplicates(inplace=True)
df.shape

(96146, 9)

In [4]:
#checking if data has missing values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [gender, age, hypertension, heart_disease, smoking_history, bmi, HbA1c_level, blood_glucose_level, diabetes]
Index: []

In [5]:
# Handle missing values
imputer = SimpleImputer(strategy="mean")
df["age"] = imputer.fit_transform(df[["age"]])
df["hypertension"] = imputer.fit_transform(df[["hypertension"]])
df["heart_disease"] = imputer.fit_transform(df[["heart_disease"]])
df["bmi"] = imputer.fit_transform(df[["bmi"]])
df["HbA1c_level"] = imputer.fit_transform(df[["HbA1c_level"]])
df["blood_glucose_level"] = imputer.fit_transform(df[["blood_glucose_level"]])

In [6]:
# Integration and Transformation
# Create dummy variables for categorical features
df = pd.get_dummies(df, columns=["gender", "smoking_history" ])

In [7]:
# Scale numeric features
scaler = StandardScaler()
df[["age", "bmi", "HbA1c_level", "blood_glucose_level"]] = scaler.fit_transform(df[["age", "bmi", "HbA1c_level", "blood_glucose_level"]])

In [8]:
# Save cleaned and transformed data to a new CSV file
df.to_csv("cleaned_diabetes_prediction_dataset.csv", index=False)

In [9]:
df.head(5)

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,1.700840,0.0,1.0,-0.314947,0.994563,0.043554,0,1,0,0,0,0,0,0,1,0
1,0.543372,0.0,0.0,-0.000216,0.994563,-1.423096,0,1,0,0,1,0,0,0,0,0
2,-0.614096,0.0,0.0,-0.000216,0.155970,0.483549,0,0,1,0,0,0,0,0,1,0
3,-0.257952,0.0,0.0,-0.572051,-0.496269,0.410216,0,1,0,0,0,1,0,0,0,0
4,1.522768,1.0,1.0,-1.061141,-0.682623,0.410216,0,0,1,0,0,1,0,0,0,0